<div class="row">
	<div class="col-md-6">
		<h2>Add Group Member</h2>

		<form role="form" ng-model="newUser" name="personForm">
			<div class="form-group">
				<label for="group_fName_input">First Name*</label>
				
					<input type="text" class="form-control" name="firstName" id="group_fName_input" required ng-model="newUser.firstName"/>
				
			</div>
			<div class="form-group">
				<label for="group_lName_input">Last Name*</label>
				<input type="text" class="form-control" name="lastName" id="group_lName_input" required ng-model="newUser.lastName"/>
			</div>

			<button type="submit" ng-disabled="!personForm.$valid" class="btn btn-default pull-right" ng-click="addUser(newUser)">Add</button>
			
				<p ng-show="isAdded" class="fader bg-success pull-right">new member added</p>
			
		</form>
	</div>
</div>
<hr>
<div class="row">
	<h2>Edit Group</h2>
	<table class="table">
		<thead>
			<th>Group Leader</th>
			<th>First Name</th>
			<th>Last Name</th>
		</thead>
		<tr ng-repeat="user in users" click-to-edit-group="user" temp="group" class="phone-listing">
		
			
		</tr>
	</table>
</div>