<div class="row">
	<div class="col-md-6">
		<h2>Add Task</h2>

		<form role="form" ng-model="newTask" name="taskForm">
			<div class="form-group">
				<label for="group_taskName_input">Task Name*</label>
				<input type="text" class="form-control" name="taskName" id="group_taskName_input" required ng-model="task.name"/>
			</div>
			<div class="form-group">
				<label for="group_date_input">Date*</label>
				<input type="text" class="form-control" id="group-date-input" name="date" datepicker-popup="dd-MMMM-yyyy" ng-model="task.date" ng-required="true" close-text="Close" />
			</div>
			<div class="form-group">
				<label for="group_member_input">Group Member*</label>
				<br />
				<select class="form-control" ng-required="true" ng-model="task.groupMember" ng-options="(u.firstName+' '+u.lastName) for u in users"></select>
			</div>
			<div class="form-group">
				<label for="radio_priority" >Priority*</label>
				<br>
					<label class="radio-inline">High</label>
					<input ng-required="true" type="radio" name="radio_priority" ng-model="task.priority" value="high">
					<label class="radio-inline">Med</label>
					<input type="radio" ng-required="true" name="radio_priority" ng-model="task.priority" value="med">
					<label class="radio-inline">Low</label>
					<input type="radio" ng-required="true" name="radio_priority" ng-model="task.priority" value="low">

			</div>
			
			<div class="form-group">
				<button type="submit" ng-disabled="!taskForm.$valid" class="btn btn-default pull-right" ng-click="addTask(task)">Add</button>
				<p ng-show="isAdded" class="fader bg-success pull-right" style="padding:5px;display:inline">new task added</p>
			</div>

		</form>
	</div>
</div>
<hr>
<div class="row">
	<h2>Edit Task</h2>
	<table class="table">
		<thead>
			<th>Task Name</th>
			<th>Due Date</th>
			<th>Group Member</th>
			<th>Priority</th>
			<th>Status</th>
		</thead>
		<tr ng-repeat="task in tasks" click-to-edit-group="task" class="phone-listing" temp="tasks">
		
			
		</tr>
	</table>
</div>