<div class="row">
	<div class="col-md-6">
		<h2>Add Task</h2>

		<form role="form" ng-model="newTask" name="taskForm">
			<div class="form-group">
				<label for="group_taskName_input">Task Name</label>
				<input type="text" class="form-control" name="taskName" id="group_taskName_input" required ng-model="task.name"/>
			</div>
			<div class="form-group">
				<label for="group_date_input">Date</label>
				<input type="date" class="form-control" name="date" id="group_date_input" required ng-model="task.dueDate"/>
			</div>
			<div class="form-group">
				<label for="group_member_input">Group Member</label>
				<br />
				<select class="form-control" ng-model="task.groupMember" ng-options="(u.firstName+' '+u.lastName) for u in users"></select>
			</div>
			<div class="form-group">
				<label for="radio_priority">Priority</label>
				<div class="radio">
					<input type="radio" name="radio_priority" ng-model="task.priority" value="high">high
				</div>
				<div class="radio">
					<input type="radio" name="radio_priority" ng-model="task.priority" value="med">med
				</div>
				<div class="radio">
					<input type="radio" name="radio_priority" ng-model="task.priority" value="low">low
				</div>
			</div>
			<button type="submit" class="btn btn-default pull-right" ng-click="addTask(task)">Add</button>
		</form>
	</div>
</div>
<hr>
<div class="row">
	<h2>Edit Task</h2>
	<table class="table">
		<thead>
			<th>Task Name</th>
			<th>Due Date</th>
			<th>Group Member</th>
			<th>Priority</th>
			<th>Status</th>
		</thead>
		<tr ng-repeat="task in tasks" click-to-edit-group="task" class="phone-listing" temp="tasks">
		
			
		</tr>
	</table>
</div>