<tr >
	<td ng-hide="view.editorEnabled">{{value.name}}</td>
	<td ng-hide="view.editorEnabled">{{value.dueDate}}</td>
	<td ng-hide="view.editorEnabled">{{value.groupMember}}</td>
	<td ng-hide="view.editorEnabled">{{value.priority}}</td>
	<td ng-hide="view.editorEnabled">{{value.status}}</td>
	<td ng-hide="view.editorEnabled" style="border:none">
		<button  class="btn btn-default" ng-click="remUser(t)"><span class="glyphicon glyphicon-trash"></span></button>
		<button class="btn btn-default" ng-click="enableEditor()"><span class="glyphicon glyphicon-pencil"></span></button>
	</td>

	<td style="background-color:#e18a07" ng-show="view.editorEnabled">
		<input ng-model="view.editableValue.name">	
	</td>
	<td style="background-color:#e18a07" ng-show="view.editorEnabled">
		<input type="date" ng-model="view.editableValue.dueDate">
	</td>
	<td style="background-color:#e18a07" ng-show="view.editorEnabled">
		<select ng-model="view.editableValue.groupMember" ng-options="(u.firstName+' '+u.lastName) as (u.firstName+' '+u.lastName) for u in users"></select>
	</td>
	<td style="background-color:#e18a07" ng-show="view.editorEnabled">
		<select ng-model="view.editableValue.priority" ng-options="p for p in priorities"></select>
	</td>
	<td style="background-color:#e18a07" ng-show="view.editorEnabled">
		<select ng-model="view.editableValue.status" ng-options="s for s in statuses"></select>
	</td>
	<td style="border:none">
		<button ng-show="view.editorEnabled" class="btn btn-default" ng-click="save()"><span class="glyphicon glyphicon-ok"></span></button>
		<button ng-show="view.editorEnabled" class="btn btn-default" ng-click="disableEditor()"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>