<tr>
	<td ng-hide="view.editorEnabled">
		{{value.firstName}}
	</td>
	<td ng-hide="view.editorEnabled">{{value.lastName}}</td>
	<td ng-hide="view.editorEnabled" style="border:none">
		<button  class="btn btn-default" ng-click="remUser(user)"><span class="glyphicon glyphicon-trash"></span></button>
		<button class="btn btn-default" ng-click="enableEditor()"><span class="glyphicon glyphicon-pencil"></span></button>
	</td>
	<td style="background-color:#e18a07" ng-show="view.editorEnabled">
		<input ng-model="view.editableValue.firstName">	
	</td>
	<td style="background-color:#e18a07" ng-show="view.editorEnabled">
		<input ng-model="view.editableValue.lastName">
	</td>
	<td style="border:none">
		<button ng-show="view.editorEnabled" class="btn btn-default" ng-click="save()"><span class="glyphicon glyphicon-ok"></span></button>
		<button ng-show="view.editorEnabled" class="btn btn-default" ng-click="disableEditor()"><span class="glyphicon glyphicon-remove"></span></button>
	</td>
</tr>